@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-800;
  font-family: 'Inter', sans-serif;
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-logo-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.scroll-logo-track {
  display: flex;
  gap: 2rem;
  width: max-content;
  animation: scroll-horizontal 20s linear infinite;
}
